body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #FFC0CB, #8B00FF); /* Pink fading to purple */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes the full viewport height */
    margin: 0; /* Remove default body margin */
}

.container {
    text-align: center;
}

h1 {
    color: #ffffff;
}

.buttons {
    margin-top: 20px;
}

button#yesBtn {
    background-color: #4CAF50; /* Green for Yes button */
    color: white;
}

button#noBtn {
    background-color: #f44336; /* Red for No button */
    color: white;
}

.fixed-size-image {
    width: 300px; /* Set width */
    height: 300px; /* Set height */
    object-fit: cover; /* Preserve aspect ratio while filling the box */
    border-radius: 10px; /* Add border-radius for rounded corners */
    margin-top: 20px; /* Add margin */
}
